
/*web fonts */

    @font-face{
        font-family:CRK_REG;
        src:url(Fonts/CookieRunFont_TTF/CookieRun_Regular.ttf);
    }

    @font-face{
        font-family:CRK_BOL;
        src:url(Fonts/CookieRunFont_TTF/CookieRun_Bold.ttf);
    }

    
/*body*/
    body{
        background-color: #fef9ef;
    }

/*header*/
    .entry {
    display:flex;
    justify-content: center;
    float:center;
    font-family: CRK_BOL;
    color: #011627;
    text-decoration: none;
    margin: 30px 50px;
    font-size: 50px;
    }
