
/*fonts*/

@font-face{
    font-family:CRK_REG;
    src:url(Fonts/CookieRunFont_TTF/CookieRun_Regular.ttf);
}

@font-face{
    font-family:CRK_BOL;
    src:url(Fonts/CookieRunFont_TTF/CookieRun_Bold.ttf);
}


